.nav__container {
  position: sticky;
}

.nav__container {
  z-index: 100;
}

.nav__top-badge {
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -10px;
  height: 20px;
  padding: 5px;
  padding-top: 6px;
}
