:root {
  --main-color: rgb(207, 73, 73);
  --main-color: rgb(45, 124, 11);
  --secondary-color: rgb(42, 136, 2);
}

@font-face {
  font-family: 'Fosefin';
  src: url('fonts/JosefinSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Fosefin-Regular';
  src: url('fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'anonymousPro';
  src: url('fonts/anonymousPro-Bold.ttf') format('truetype');
}

a {
  color: black;
}
.App {
  text-align: center;
  font-family: Fosefin-Regular;
}
.xs-text {
  font-size: 0.7rem;
}

/* .top-right-border {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 1;
} */

.cursor-pointer {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

.main-color {
  color: var(--main-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.border-main-color {
  border: 1px solid var(--main-color) !important;
  transition: all 1s ease;
}

.animation {
  transition: 0.2 all ease;
}

.animation:hover {
  transform: scale(1.1);
}

.bg-main-color {
  background-color: var(--main-color) !important;
  transition: all 5s ease;
}

.bg-main-color2 {
  background-color: var(--main-color2) !important;
}

.rotate-45 {
  transform: rotate(315deg);
  /* top: 50%; */
  bottom: 40%;
  width: 50%;

  /* overflow: hidden !important; */
}

.left-top {
  position: absolute;
  top: 0;
  bottom: 75%;
  right: 75%;
}

.stack-top {
  z-index: 1;
  position: absolute;
  font-size: 14px;
  top: 0;
  right: 0;
  transform: translate(40%, -100%) rotate(45deg); /* 29.29% = 100%*(1 - cos(45deg)) */
  color: #fff;
  text-align: center;
  width: 100px;
  transform-origin: bottom left;
}
